:root {
  --bs-emphasis-color-rgb: white;
  --bs-navbar-nav-link-margin-x: 0.2rem;
  --bs-tier-color: #56c7ba;
  box-sizing: border-box !important;
  --bs-text-color-v1: rgb(5, 5, 50);
}

.navbar {
  --bs-navbar-brand-font-size: 0rem;
  --bs-navbar-nav-link-padding-y: 1rem;
  --bs-navbar-nav-link-padding-x: 1rem;
  --bs-navbar-padding-y: 0rem;
  /* height: var(--bs-navbar-height); */
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(86, 199, 186)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: 1px solid var(--bs-tier-color);
  border: 1px solid var(--bs-tier-color);
  box-shadow: none;
}
.nav-link {
  --bs-nav-link-font-size: 1.5rem;
  padding: var(--bs-navbar-nav-link-padding-y)
    var(--bs-navbar-nav-link-padding-x);
  margin: 0px var(--bs-navbar-nav-link-margin-x);
}
.nav-link:hover {
  transition: 0.8s ease-in-out;
  background-color: var(--bs-tier-color);
  color: var(--bs-text-color-v1);
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.brand-logo {
  margin-left: 0.3rem;
  width: 2.5rem;
  height: 3.5rem;
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-collapse {
    transition: 1s ease-in;
  }
  .nav-link {
    --bs-nav-link-font-size: 1.5rem;
    padding: 0.4rem 0.3rem;
    margin: 0.1rem 0;
  }
  /* collapse able area */
  .show {
    padding: 3rem 0;
    transition: 1.4s ease-in-out;
  }
  .show ul li a {
    border-bottom: 1px solid var(--bs-tier-color);
  }
}

main {
  min-height: calc(100vh - 12rem);
}
footer {
  height: 12rem;
}
